<app-header></app-header>

<div style="margin: 10px; text-align: -webkit-center;">



    <div class="panel panel-info">
        <div *ngIf="loggedin" style="display: inline-flex;">
            <span>
                <h5>Hi, </h5>
            </span><span>
                <h3> {{currentUserInfo.name}}</h3>
            </span>
        </div>
        <div class="panel-heading">Welcome to <span
                style="color:red; text-decoration-line: underline;text-decoration-color: black;font-family: cursive">
                MakeMyResume</span> </div>
        <div class="panel-body">
            Website Descriptions here<br>
            And some designing work with some animated decorations
        </div>
        <div class="panel-body">
            <p
                style="font-size: 30px;color: black;text-decoration-line: underline;background-color: rgb(217, 217, 216)">
                Templates</p>
            <div class="row">
                <div class="col-4">
                    <table>
                        <tr>
                            <td><img height="300px" width="250px" class="d-block " src="assets/pictures/template1.svg">
                            </td>
                        </tr>
                        <tr>
                            <td style="color: black;font-family: cursive">The Great Template</td>
                        </tr>
                        <!-- <tr>
                            <td style="color: blue">5 years above experienced</td>
                        </tr> -->
                        <tr>
                            <td><button><a href="login">Buy Now</a></button><button><a href="login">Add to
                                        Wishlist</a></button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-4">
                    <table>
                        <tr>
                            <td><img height="270px" width="250px" class="d-block  "
                                    src="assets/pictures/template2.webp">
                            </td>
                        </tr>
                        <tr>
                            <td style="color: black;font-family: cursive">Template 2</td>
                        </tr>
                        <!-- <tr>
                            <td style="color: blue">type 2</td>
                        </tr> -->
                        <tr>
                            <td><button><a href="login"> Build </a></button><button><a href="login">Add to
                                        Wishlist</a></button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-4">
                    <table>
                        <tr>
                            <td><img height="270px" width="250px" class="d-block " src="assets/pictures/template3.jpeg">
                            </td>
                        </tr>
                        <tr>
                            <td style="color: black;font-family: cursive">Template 3</td>
                        </tr>
                        <!-- <tr>
                            <td style="color: blue">type 3</td>
                        </tr> -->
                        <tr>
                            <td><button><a href="login">Build</a></button><button><a href="login">Add to
                                        Wishlist</a></button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div><br><br>

    </div>


    <!-- <div class="panel center panel-info" style="margin-bottom: 70px;">
        <ngb-carousel data-interval="30">
            <ng-template ngbSlide class="carousel-item active">
                <img style="height: 350px" class="d-block " src="assets/pictures/template1.svg">
            </ng-template>
            <ng-template ngbSlide class="carousel-item">
                <img style="height: 350px" class="d-block" src="assets/pictures/template2.webp">
            </ng-template>
            <ng-template ngbSlide class="carousel-item">
                <img style="height: 350px" class="d-block  " src="assets/pictures/template3.jpeg">
            </ng-template>
        </ngb-carousel>

    </div> -->

</div>
<app-footer></app-footer>